.qs-datepicker {
  background: $white;
  border: 1px solid $iron-gray;
  border-radius: 4.22275px;
  box-shadow: 0 20px 20px -15px $one-q-black-bg;
  color: $thunder-black;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 14px;
  overflow: hidden;
  position: absolute;
  user-select: none;
  width: 250px;
  z-index: 1000;

  * {
    box-sizing: border-box;
  }

  &.qs-centered {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &.qs-hidden {
    display: none;
  }

  .qs-overlay {
    align-items: center;
    background: $three-q-black-bg;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    opacity: 1;
    padding: .5em;
    position: absolute;
    top: 0;
    transition: opacity .3s;
    width: 100%;
    z-index: 1;

    &.qs-hidden {
      opacity: 0;
      z-index: -1;
    }

    .qs-close {
      align-self: flex-end;
      cursor: pointer;
      display: inline-table;
      line-height: .77;
      padding: .5em;
      position: absolute;
    }

    .qs-overlay-year {
      background: transparent;
      border: 0;
      border-bottom: 1px solid $white;
      border-radius: 0;
      color: $white;
      display: block;
      font-size: 14px;
      margin: auto 0 .5em;
      padding: .25em 0;
      width: calc(100% - 1em);
    }

    .qs-submit {
      background: $iron-gray;
      border: 1px solid $white;
      border-radius: 4.22275px;
      cursor: pointer;
      margin: 0 auto auto;
      padding: .5em;

      &.qs-disabled {
        border-color: $thunder-black;
        color: $iron-gray;
        cursor: not-allowed;
      }
    }
  }

  .qs-controls {
    align-items: center;
    background: $thunderbird-red;
    color: $white;
    display: flex;
    filter: blur(0);
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: space-between;
    transition: filter .3s;
    width: 100%;

    &.qs-blur {
      filter: blur(5px);
    }
  }

  .qs-arrow {
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    position: relative;
    transition: background .15s;
    width: 25px;

    &::after {
      border: 6.25px solid transparent;
      content: '';
      position: absolute;
      top: 50%;
      transition: border .2s;
    }

    &.qs-left {
      &::after {
        border-right-color: $white;
        right: 50%;
        transform: translate(25%, -50%);
      }
    }

    &.qs-right {
      &::after {
        border-left-color: $white;
        right: 50%;
        transform: translate(25%, -50%);
      }
    }

    &:hover {
      background: $one-q-black-bg;

      // EXCEPTION: either this or nest, which violates the nesting-depth rule
      // Okay for now since this is a third-party thing
      &.qs-left::after { // sass-lint:disable-line force-pseudo-nesting
        border-right-color: $thunder-black;
      }

      &.qs-right::after { // sass-lint:disable-line force-pseudo-nesting
        border-left-color: $thunder-black;
      }
    }
  }

  .qs-month-year {
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-weight: bold;
    transition: border .2s;

    &:hover {
      border-bottom: 1px solid $dove-gray;
    }

    &:focus,
    :active {
      &focus {
        outline: none;
      }
    }
  }

  .qs-month {
    padding-right: .5ex;
  }

  .qs-squares {
    display: flex;
    filter: blur(0);
    flex-wrap: wrap;
    padding: 5px;
    transition: filter .3s;

    &.qs-blur {
      filter: blur(5px);
    }
  }

  .qs-square {
    align-items: center;
    border-radius: 4.22275px;
    cursor: pointer;
    display: flex;
    height: 25px;
    justify-content: center;
    transition: background .1s;
    width: 14.28571429%;

    &.qs-current {
      font-weight: bold;
    }

    &.qs-active {
      background: $light-blue;
    }

    &.qs-disabled {
      cursor: not-allowed;

      span {
        opacity: .2;
      }
    }

    &.qs-empty {
      cursor: default;
    }

    &.qs-day {
      color: $dove-gray;
      cursor: default;
      font-weight: bold;
    }

    // EXCEPTION - Not going to hold third-party stuff up to our internal standards
    &:not(.qs-empty):not(.qs-disabled):not(.qs-day):hover { // sass-lint:disable-line force-pseudo-nesting
      background: $alabaster-gray;
    }
  }
}
