.alert {
  background-color: $color-alert;
  color: $color-alert-dark;
  margin-bottom: 18px;
  padding: 20px 60px;
  position: relative;

  .close {
    font-size: 1.2em;
    left: 20px;
    margin-top: -10px;
    opacity: 1;
    position: absolute;
    text-decoration: none;
    top: 45%;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.small {
    margin-bottom: 5px;
    padding: 10px;
  }
}

.alert-yellow {
  background: $color-alert-yellow;
  color: $color-alert-yellow-dark;
}

.alert-danger,
.alert-warning {
  background-color: $color-alert-warning;
  color: $color-alert-warning-dark;
}

.alert-danger-alt {
  background-color: $white;
  border: 4px solid $thunderbird-red;
  color: $thunderbird-red;
  font-size: 1.3em;
  font-weight: 900;
  letter-spacing: .06em;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;

  &::before {
    content: '\f071';
    font-family: 'Font Awesome 5 pro';
    font-weight: 600;
    margin-right: .7em;
  }

  &::after {
    content: '\f071';
    font-family: 'Font Awesome 5 pro';
    font-weight: 600;
    margin-left: .7em;
  }
}

.alert-info {
  background-color: $color-alert-info;
  color: $color-alert-info-dark;
}

.alert-block {
  padding-bottom: 14px;
  padding-top: 14px;

  &p + p {
    margin-top: 5px;
  }
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.global-alert {
  margin: 0;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  z-index: 999;

  .container {
    padding-left: 50px;
    width: unset;
  }

  .alert-close {
    left: unset;
    margin-left: -25px;
    top: 50%;
  }
}

.global-alert-bottom {
  bottom: 0;
}

.global-alert-middle {
  bottom: 50%;
}
