ul {
  &.dropdown-menu {
    &.dropdown-show {
      max-height: 300px;
      overflow-y: auto;
      visibility: visible;
    }
  }
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: $white;
  border-color: $one-q-black-bg;
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: $default-shadow;
  float: left;
  height: 0;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 160px;
  overflow-y: scroll;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  transition: height .5s;
  visibility: hidden;
  width: 160px;
  z-index: 1000;

  a {
    clear: both;
    color: $charcoal-gray;
    display: block;
    line-height: 18px;
    padding: 6px 15px;
    text-decoration: none;
  }

  small {
    color: $dove-gray;
    font-size: 90%;
    padding: 3px 15px;
  }

  &.pull-right {
    left: auto;
    right: 0;
  }

  .active > a {
    background-color: $iron-gray;
    color: $font-color;
    text-decoration: none;
  }

  li > a,
  .active > a {
    &:hover {
      background-color: $iron-gray;
      color: $font-color;
      text-decoration: none;
    }
  }
}

.dropdown {
  position: relative;

  .caret {
    margin-left: 2px;
    margin-top: 8px;
  }

  .dropdown-active {
    &:hover {
      background-color: darken($alabaster-gray, $default-darken);
      text-decoration: none;
    }

    .divider {
      background-color: $iron-gray;
      border-bottom: 1px solid $white;
      height: 1px;
      margin: 8px 1px;
      overflow: hidden;
    }

    &.open {
      .dropdown-toggle {
        background: $one-q-black-bg;
        color: $white;
      }

      .dropdown-menu {
        transition: height .5s;
      }
    }
  }
}

.pull-right {
  .dropdown-menu {
    left: auto;
    right: 0;
  }
}

.dropup {
  .dropdown-menu {
    float: none;
    padding: 4px 0;
    position: absolute;
    top: 0;
  }
}

// Style inside .nav (which is all of our dropdown-menus, as far as I can tell)

.nav {
  .dropdown-menu {
    background: $alabaster-gray;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: $charcoal-gray;
    float: none;
    height: 0;
    min-width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    top: 0;
    transition: height .5s;
    visibility: visible;
    z-index: 0;

    a {
      @include below-desktop {
        padding: 10px 15px;
      }
      margin-left: -15px;
      margin-right: -15px;
      padding: 10px 15px 10px 40px;
      white-space: normal;
    }

    .dropup {
      .dropdown-show {
        bottom: 100%;
        display: block;
        margin: 0 0 10px;
        top: auto;
      }
    }

    // *** dropdown animations ***
    &.dropdown-show {
      @include below-desktop {
        margin-bottom: -5px;
      }
      // EXCEPTION - TODO need to make animations browser agnostic
      -moz-animation: 1.4s ease-out menu-slide-down; // sass-lint:disable-line no-vendor-prefixes
      -webkit-animation: 1.4s ease-out menu-slide-down; // sass-lint:disable-line no-vendor-prefixes
      height: auto;
      max-height: 1000px;
      overflow-y: hidden;
      visibility: visible;
    }
  }

  .dropdown-toggle {
    .caret {
      display: none;
    }

    &::after {
      @include below-desktop {
        right: 30px;
      }
      color: $nobel-gray;
      content: '\f078';
      display: inline-block;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 600;
      position: absolute;
      right: 15px;
    }

    &.dropdown-active {
      background: $iron-gray;

      &::after {
        content: '\f077';
      }

      + ul {
        &.dropdown-menu {
          li {
            display: block;
          }
        }
      }
    }

    &.dropdown-active,
    &:hover {
      &::after {
        color: $thunderbird-red;
      }
    }
  }
}

.news-row-btn {
  .dropdown-show {
    background: $white;
    box-shadow: 2px 2px 2px $iron-gray;
    position: absolute;
    top: 30px;
    z-index: 1000;
  }

  li {
    margin-bottom: .5em;
  }
}
