.info-circle {
  @include tablet {
    display: none;
  }
  @include above-tablet {
    bottom: calc(20% + 100px);
  }
  @include desktop {
    bottom: calc(10% + 100px);
  }
  align-items: center;
  background: $white;
  border-radius: 50%;
  display: grid;
  font-size: .9em;
  height: 110px;
  padding: 15px;
  position: absolute;
  right: 10%;
  text-align: center;
  width: 110px;

  &::before {
    border: 5px solid $white;
    border-bottom-style: dashed;
    border-radius: 50%;
    border-right-style: dashed;
    content: '';
    height: 160px;
    left: -15px;
    position: absolute;
    width: 160px;
  }

  &.has-animated {
    &::before {
      transform: rotate(360deg);
      transition: transform 1.25s cubic-bezier(.38, .9, .97, .26);
    }
  }

  &.spacer-circle {
    bottom: unset;
    left: 10%;
    right: unset;
    top: 20%;
  }

  .circle-heading {
    align-self: end;
    color: $alternate-red;
    padding: 0 0 10px;
  }

  p {
    align-self: baseline;
    font-size: .8em;
    font-weight: 600;
    line-height: 1.4em;
    margin: 0;
  }
}
