.badge,
.label {
  background-color: $stone-gray;
  color: $white;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 11px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.label {
  border-radius: .25em;
  letter-spacing: .07em;
  line-height: 13px;
  vertical-align: middle;

  a {
    &:hover {
      background-color: darken($stone-gray, $default-darken);
      color: $white;
      text-decoration: none;
    }
  }
}

.badge {
  border-radius: 50%;
  font-weight: 700;

  a {
    &:hover {
      background-color: darken($stone-gray, $default-darken);
      color: $white;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.label-brand,
.badge-brand {
  background-color: $thunderbird-red;

  a {
    &:hover {
      background-color: darken($thunderbird-red, $default-darken);
    }
  }
}

.label-warning,
.label-important,
.label-error,
.badge-warning,
.badge-important,
.badge-error {
  background-color: $color-warning-dark;

  a {
    &:hover {
      background-color: darken($color-warning-dark, $default-darken);
    }
  }
}

.label-success,
.badge-success {
  background-color: $color-success;

  a {
    &:hover {
      background-color: $color-success-dark;
    }
  }
}

.label-success-dark,
.badge-success-dark {
  background-color: $color-success-dark;

  a {
    &:hover {
      background-color: darken($color-success-dark, $default-darken);
    }
  }
}

.label-info,
.badge-info {
  background-color: $color-info;

  a {
    &:hover {
      background-color: $color-info-dark;
    }
  }
}

.label-info-dark,
.badge-info-dark {
  background-color: $color-info-dark;

  a {
    &:hover {
      background-color: darken($color-info-dark, $default-darken);
    }
  }
}

.label-inverse,
.badge-inverse {
  background-color: $charcoal-gray;

  a {
    &:hover {
      background-color: darken($charcoal-gray, $default-darken);
    }
  }
}
