// From Bootstrap.
// Elements stack vertically by default, but are horizontal on desktops.
// It should look exactly like .nav-list by default. Only customize
//  above tablet size.

.nav-tabs {
  @extend %nav-list;

  $border-radius: 4px;
  $border-color: #ddd;
  $corner: $border-radius;

  @include above-tablet {
    @include clearfix;
    border-bottom: 1px solid $border-color;

    // Standard elements

    > li {
      float: left;
      margin-bottom: -1px;

      + li {
        margin-top: 0;
      }
    }

    > li > a {
      border: 1px solid transparent;
      border-radius: $corner $corner 0 0;
      line-height: 18px;
      margin-left: 0;
      margin-right: 2px;
      padding: 8px 12px;

      &:hover {
        border-color: $iron-gray $iron-gray $border-color;
      }
    }

    // Active elements

    > .active > a, {
      background-color: $muted-bg;
      border: 1px solid $border-color;
      border-bottom-color: transparent;
      color: $cardlink-color;
      text-shadow: none;

      &:hover {
        background-color: $muted-bg;
        border: 1px solid $border-color;
        border-bottom-color: transparent;
        color: $cardlink-color;
        text-shadow: none;
      }
    }

    // Stacked variant
    &.nav-stacked {
      border-bottom: 0;
      margin-top: -9px;

      > li {
        &:first-child {
          > a {
            border-radius: $corner $corner 0 0;
          }
        }
      }

      > li {
        &:last-child {
          > a {
            border-radius: 0 0 $corner $corner;
          }
        }
      }
    }

    &.nav-stacked > li > a {
      border: 1px solid $border-color;
      border-radius: 0;

      &:hover {
        border-color: $border-color;
        z-index: 2;
      }
    }
  }
}
