// From Bootstrap.
// Elements stack vertically by default, but are horizontal on desktops.
// It should look exactly like .nav-list by default. Only customize
//  above tablet size.

.nav-pills {
  @extend %nav-list;
  @include above-tablet {
    @include clearfix;

    padding: 0;

    > li {
      float: left;

      > a {
        color: $dove-gray;
        font-weight: 500;
        line-height: 18px;
        margin: 0 3px 0 0;
        padding: .9em 2em 1em 1em;
      }
    }

    &.nav-stacked {
      @include below-desktop {
        padding: 0;
      }

      > li > a {
        margin-bottom: 0;
      }

      > li {
        &:last-child > a {
          margin-bottom: 0;
        }
      }
    }
  }
}
