//
// SCSS for .sticky elements that will become static when scrolling
//

.sticky {
  @include above-tablet {
    padding-top: 104px; // keeps element below main NAV menu on anything above mobile width
  }

  position: sticky;
  top: 0;
}

.sidebar-wrapper {
  &.sticky {
    padding-top: 0;
    top: 142px;
  }
}
