@keyframes push-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 200px;
  }
}

@keyframes push-up {
  from {
    max-height: 200px;
  }

  to {
    max-height: 0;
  }
}

@keyframes menu-slide-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 1000px;
  }
}

@keyframes menu-slide-up {
  from {
    max-height: 1000px;
  }

  to {
    max-height: 0;
  }
}

@keyframes accordion-slide-down {
  from {
    max-height: 0;
  }

  to {
    max-height: 3000px;
  }
}

@keyframes featured-btn-gradient-in {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

@keyframes featured-btn-gradient-out {
  from {
    background-position: 100%;
  }

  to {
    background-position: 0%;
  }
}
