article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio {
  display: inline-block;

  &:not([controls]) {
    display: none;
  }
}

canvas,
video {
  display: inline-block;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button {
  -webkit-appearance: button;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }
}

input {
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &[type='button'] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  &[type='reset'] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  &[type='submit'] {
    -webkit-appearance: button;
    cursor: pointer;
  }

  &[type='search'] {
    -moz-box-sizing: content-box;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }
  }
}

textarea {
  overflow: auto;
  vertical-align: top;
}
