.admissions-counselor {
  margin-top: -40px;
  position: relative;

  .your-counselor {
    @include tablet {
      padding-left: 20px;
    }
    padding-left: 50px;
    position: relative;
    top: 45px;
  }

  .well {
    @include above-tablet {
      padding: 50px;
    }
  }
}
