// Full-width image or video. Probably only used on the homepage.

.full-feature {
  background-color: $white;
  display: block;
  margin-top: -15px;
  max-height: 300px;
  overflow: hidden;
  position: relative;

  &.home-full-feature {
    @include mobile {
      top: 0;
    }

    @include tablet {
      background-color: $white;
    }

    background-color: $thunder-black;
    max-height: unset;
    overflow: visible;
    position: relative;
    top: 0;

    &.homepage {
      @include tablet {
        margin-bottom: -20px;
      }
      margin-bottom: -100px;

      .banner-wrapper {
        @include tablet {
          min-height: 125px;
        }

        min-height: 275px;
      }
    }

    .container {
      @include above-tablet {
        min-height: 75px;
      }

      @include desktop {
        min-height: auto;
      }

      min-height: auto;
    }

    .overlay-message {
      @include above-tablet {
        margin-right: 0;
        padding-right: 20px;
        right: 10px;
      }

      @include tablet {
        left: 0;
        margin: 0 auto;
        max-width: unset;
        position: relative;
        top: -15px;
        width: calc(100% - 10px);
      }

      background: none;
      bottom: 22%;
      color: $white;
      max-width: 450px;
      padding: 0;
      position: absolute;
      text-transform: none;
      z-index: 10;

      p {
        @include tablet {
          margin-bottom: 15px;
          margin-left: 15px;
          margin-right: 15px;
        }
      }

      h2,
      p {
        @include above-tablet {
          bottom: 20px;
          color: $white;
          right: 0;
        }

        @include tablet {
          margin-left: 15px;
          padding-bottom: 0;
        }

        color: $thunder-black;
        line-height: 1.1em;
        text-align: left;
      }

      .cta {
        bottom: -45px;
        position: absolute;
        right: 35px;
      }
    }

    .full-feature-overlay {
      background: linear-gradient(0deg, $one-q-black-bg 25%, transparent 45%);
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }
  }

  &.home-full-feature-alternate {
    @include tablet {
      background-position: center right;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    background-color: unset;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: -100px;
    padding-bottom: 100px;
    text-align: left;

    &.mega-padding-top {
      @include tablet {
        padding-top: 0;
      }
      padding-top: 75px;
    }

    .overlay-message-top-page {
      text-align: left;

      h1,
      h2,
      h3 {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 2em;
      }

    }
  }

  &.featured-full-feature {
    max-height: 400px;
  }

  .banner-wrapper {
    position: relative;

    svg {
      bottom: -1px;
      fill: $white;
      height: 30%;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 5;
    }

    picture {
      position: relative;
      z-index: 0;
    }
  }

  .content {
    margin: 0;
    width: 100%;
  }

  // TODO - overlay-message should be its own components.

  .banner-icon {
    margin: 0 auto;
    max-width: $max-view-width;
    position: relative;
    z-index: 5;

    .icon-button {
      @include tablet {
        bottom: 0;
      }

      bottom: 25px;
      left: 5%;
      position: absolute;
    }
  }
}

.overlay-message {
  background-color: transparentize($muted-bg, .3);
  bottom: 25px;
  color: $thunder-black;
  left: 0;
  margin: 0 auto;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  width: 60%;

  // featured-level marketing pages
  &.featured-overlay-message {
    @include tablet {
      color: $thunder-black;
      font-size: .5em;
    }

    background: none;
    bottom: 50px;
    color: $white;

    > .title {
      font-family: Roboto, sans-serif;
      font-size: 4.5em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  // colleges and departments
  &.default-overlay-message {
    bottom: 0;
    max-width: 900px;

    > .title {
      font-size: 1.7em;
      text-transform: capitalize;
    }

    > .byline {
      font-size: 1.3em;
    }
  }

  // select cases like Advancement or Alumni
  &.alternate-overlay-message {
    background: none;
    color: $white;
    max-width: 900px;
    text-shadow: 1px 1px 0 $thunder-black;
    text-transform: none;

    .btn,
    .cta {
      text-shadow: none;
    }
  }

  > p {
    font-weight: 600;
    margin: 0;
  }

  > .title {
    font-size: 2em;
    line-height: 1.2;
  }

  > .byline {
    letter-spacing: 1px;
  }

  @include tablet {
    background-color: $muted-bg;
    border-bottom: 1px solid $iron-gray;
    margin-bottom: .5em;
    max-width: none;
    padding: 10px 0;
    position: static;
    width: 100%;
  }
}

.overlay-message-top-page {

  @include tablet {
    position: relative;
    z-index: 10;

    h1 {
      margin: -5% 0 25px;
    }
  }

  @include above-tablet {
    max-width: 350px;
    min-width: 200px;
    text-align: center;
    width: 30%;

    h1 {
      margin: 10px 0;
    }
  }

  @include below-desktop {
    padding: 1.5% 10px;
  }

  @include desktop {
    padding: 0;

    h1 {
      margin: 30px 0;
    }
  }

  padding: 40px;
  position: absolute;
  top: 5%;
}
