// default legend width forced the heading bar to extend past column width
.program-filter-controls {
  margin-bottom: 10px;
}

.program-directory-form {
  margin: 0;
}

.program-filters {
  li {
    padding-left: 10px;
    text-align: left;

    input {
      display: inline-block;
    }
  }

  + p {
    margin-top: 15px;
  }
}

.program-finder {
  margin-top: 20px;
  position: relative;

  th {
    background: $iron-gray;
    color: $charcoal-gray;
    padding: 20px .5%;
    text-align: center;

    &:first-child {
      padding-left: 10px;
      text-align: left;
    }
  }
}

.program-row {
  margin-top: 25px;

  &:hover {
    .program-check {
      color: $thunderbird-red;
    }

    .program-unavailable {
      color: $one-q-black-bg;
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  td {
    padding: 15px 0;

    .program-link {
      color: $charcoal-gray;
      font-size: 1.25em;
      font-weight: 600;
      text-decoration: none;
    }

    &:first-child {
      padding-left: 10px;

      &::before {
        color: $thunderbird-red;
        content: '\f05a';
        font: normal normal normal 9px/1 'Font Awesome 5 Pro';
        font-size: 1em;
        font-weight: 600;
        margin-right: 8px;
        position: relative;
        top: -2px;
      }
    }
  }

  .program-check {
    color: darken($stone-gray, $default-darken);
    padding: 5px;
  }

  .program-unavailable {
    color: $silver-gray;
    font-weight: 400;
  }
}

.program-degrees {
  margin-bottom: 25px;

  .label {
    border-radius: 0;
    cursor: unset;
  }
}

.related-programs-list {
  padding: 20px 0;
}
