.qr-code-generator {
  p {
    margin: 0;
  }

  canvas {
    max-width: 400px;
    width: 100%;
  }

  .qr-example {
    width: 100%;
  }

  .qr-form-grid {
    column-gap: 1em;
    display: grid;
    grid-template-columns: 7fr 8fr;
    row-gap: 1em;
  }

  .one-column-grid {
    input {
      margin: .25em 0 0;
      max-width: 260px;
      min-width: 184px;
    }
  }

  .qr-input-grid {
    grid-template-columns: 4fr 1fr;
  }

  .qr-utm-label {
    grid-row: 4;
  }

  .qr-utm-selection {
    grid-column: 1 / 3;
    grid-row: 5;
    margin-right: 4em;

    label {
      margin: 0 1em;
    }

    :last-child {

      label {
        margin-right: 0;
      }
    }
  }

  .qr-image-selection {
    grid-column: 1 / 3;
    grid-row: 7;
    margin-right: 3.5em;

    label {
      margin: .1em 2em 0 1em;
    }
  }

  .image-label {
    grid-row: 6;
  }

  .valid-input {
    margin-top: .3em;
  }

  .size-label {
    grid-column: 1;
    grid-row: 8;
  }

  .size-input {
    grid-column: 2;
    grid-row: 8;
  }

  @include media-breakpoint-down(md) {

    input {
      margin: .66em 0 0;
    }

    .qr-code-two-column {
      grid-template-columns: 1fr;
    }

    .qr-input-grid {
      margin-bottom: 1.5em;
    }

    .qr-form-grid {
      grid-template-columns: 1fr;
      row-gap: 0;

      label {
        font-size: 1.1em;
        justify-self: start;
        margin-bottom: 0;
      }
    }

    .qr-injection {
      margin-bottom: 1rem;
    }

    .qr-utm-label {
      grid-row: auto;
    }

    .qr-image-selection,
    .qr-utm-selection {
      align-items: start;
      gap: .25em;
      grid-column: auto;
      grid-row: auto;
      grid-template-columns: 1fr;
      justify-items: start;
      justify-self: start;
      margin: 1em 0 .5em .5em;

      label {
        margin: 0 0 0 1em;
      }

      canvas {
        max-width: 100%;
      }
    }

    .qr-utm-selection {
      gap: 1em;
      margin-bottom: 4em;
    }

    .size-label {
      grid-column: auto;
      grid-row: auto;
    }

    .size-input {
      grid-column: auto;
      grid-row: auto;
    }

    .image-label {
      grid-row: auto;
    }
  }

  @include media-breakpoint-down(sm) {
    canvas {
      max-width: 325px;
    }

  }

  @include media-breakpoint-down(xs) {
    canvas {
      max-width: 250px;
    }

  }
}
