body {
  &.body-lite {
    @include mobile {
      margin-bottom: 60px;
    }
    margin: 0 0 40px;

    .navbar-fixed-top {
      // EXCEPTION: !important used here because same declaration used it before
      position: relative !important; // sass-lint:disable-line no-important
    }

    .simple-bar {
      border-bottom: 0;
      position: relative;

      .logo {
        @include tablet {
          height: 35px;
          padding: 5px 0;
        }
      }
    }

    .site-menu {
      @include tablet {
        height: calc(100vh - 71px);
        top: 71px;
      }
    }

    .mobile-cta {
      @include mobile {
        display: block;
      }
      right: 0;
      top: 0;

      .header-search {
        top: 1px;
      }

      .cta-banner {
        position: relative;
        top: 17px;
      }
    }

    .branding-bar {
      .flex-links {
        @include tablet {
          .cta-banner {
            border: 0;
            color: $white;
          }
        }

        > li {
          &:last-child {
            @include tablet {
              display: block;
            }
          }

          .cta {
            @include tablet {
              font-size: 1.2em;
              font-weight: 800;
              padding: 10px 20px;
              width: 180px;
            }
          }
        }
      }
    }

    .sidebar-wrapper {
      &.sticky {
        top: 0;
      }
    }

    footer {
      @include tablet {
        justify-content: center;
        text-align: center;
      }
      background-color: $charcoal-gray;
      display: flex;
      justify-content: right;
      left: 0;
      padding: 10px 20px 10px 0;
      position: absolute;
      right: 0;

      .flex-links {
        padding: 0;
      }

      ul {
        margin: 0;
      }

      a {
        color: $white;
        font-size: .8em;
        font-weight: 300;
        padding-right: 10px;
      }
    }
  }
}
