// Used in FooTable  /business/careers/employer-directory.html and for lists in general
.two-column {
  column-count: 2;
}

.three-column {
  @include tablet {
    column-count: 2;
  }

  column-count: 3;
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .two-column-narrow {
    column-count: 2;
    margin-bottom: 15px;
  }

  .single-column-mobile {
    column-count: 1;
  }
}

.two-column,
.two-column-narrow,
.three-column {
  @include mobile {
    column-count: 1;
  }
}
