.heading-accent {
  border-left: 10px solid $white;
  margin-bottom: 20px;
  padding-bottom: 0;
  padding-left: 10px;

  &.heading-accent-green {
    border-color: $green;
  }

  &.heading-accent-red {
    border-color: $thunderbird-red;
  }

  &.heading-accent-yellow {
    border-color: $yellow;
  }
}
