// Site-wide navigation.
// Contains a '.simple-bar', '.branding-bar', and '.links-bar'.
header {
  @include above-tablet {
    position: fixed;
  }

  left: 0;
  margin-bottom: 0;
  position: relative;
  right: 0;
  top: 0;
  z-index: 1030;
}
@media (min-width: 768px) and (max-width: 979px) {
  //placed at top because this came before site-navigation.scss in suu-custom.scss. It can probably move further down when this is linted.
  .nav-condense {
    letter-spacing: -1px;
  }
}

.skip-link {
  a {
    background: $white;
    border-bottom: 1px solid $white;
    border-bottom-right-radius: 5px;
    border-right: 1px solid $white;
    color: $thunder-black;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -50px;
    transition: top 1s ease-out;
    z-index: 5000;

    &:focus {
      left: 0;
      position: absolute;
      top: 0;
      transition: top .1s ease-in;
    }
  }
}

.site-nav {
  color: $white;
}
// Positions a list of links using flexbox and IE9 fallbacks.

.flex-links {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: $max-view-width;
  padding: 10px 10px 10px 20px;
  text-align: right \9; // IE9 only
  // This @extend has caused some small problems by overriding the padding below.

  li {

    display: inline-block; // IE9
    list-style: none;
    margin: 0 5px;
  }

  ._flex-spacer {
    // Helper class. Grows to fill available space.
    display: none;
    flex-grow: 10;
  }

  ._flex-spacer ~ li {
    // .flex-spacer also pushes elements after itself to the right, by un-
    // floating them. IE9
    float: none;
  }

  @include tablet {
    width: auto;

    ._flex-basis-fix,
    .delim {
      display: none;
    }
  }
}
// Bar with one link, should be to the homepage.
//  Contains the navigation menu icons on smaller screens.

// hide the bar on desktop, only used for mobile header
.simple-bar {
  border-bottom: 15px solid $iron-gray;
  display: none;
  margin: 0;
  padding: 1px 0;
  text-transform: uppercase;

  // for advanced pages using the "lite" option
  &.simple-bar-lite {
    background-color: $thunder-black;
    display: block;
  }

  .logo,
  .logo-link {
    display: none;
  }

  p {
    font-family: $logo-font;
    font-size: 1.2em;
    letter-spacing: .55em;
    line-height: 1em;
    margin: .3em 0 .3em .5em;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $iron-gray;
    }
  }

  @include tablet {
    background-color: $thunderbird-red;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    display: block;
    left: 0;
    padding: 10px 10px 10px 20px;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    z-index: 1030;

    .logo {
      display: block;
      height: 55px;
    }

    .logo-link {
      display: block;
    }

    .schoolname {
      display: none;
    }

    p {
      font-size: 16px;
      letter-spacing: 1px;
      margin: 1px;
      padding: 2px;
    }
  }

  @include mobile {
    .logo {
      height: 35px;
      padding: 5px 0;
    }
  }

  .mobile-cta {
    @include mobile {
      display: none;
    }
    display: block;
    position: absolute;
    right: 95px;
    top: 15px;

    .cta {
      font-size: .9em;
      margin-right: 15px;
      min-width: unset;
      padding: 3px 0;
      width: 140px;
    }
  }
}

.mobile-nav {

  @include tablet {
    display: block;
    left: calc(100% - 78px);
    position: fixed;
    top: 0;
  }

  display: none;

  .mob-menu {
    @include mobile {
      height: 68px;
    }

    height: 78px;
    position: absolute;
    width: 78px;

    &:hover {
      svg {
        fill: darken($white, $default-darken);
      }
    }

    svg {
      fill: $white;
      left: 28%;
      position: absolute;
      top: 20%;
      width: 35px;
    }
  }

}
// Bar of 6 links with SUU logo in the middle.

.branding-bar {
  background: $thunderbird-red;
  color: $white;
  font-family: $primary-font-condensed;
  font-size: 1.15em;
  font-weight: 500;
  letter-spacing: 1px;
  min-height: 70px;
  text-align: center;

  .flex-links > li {
    margin: 0 2%;
    text-align: right;

    &:first-child {
      margin: 0;
      text-align: left;
    }

    &:last-child {
      @include above-tablet {
        display: block;
      }
      @include tablet {
        display: none;
      }
      @include mobile {
        display: block;
      }

      font-size: .8em;

      .cta {
        @include mobile {
          padding: 10px;

          &:hover {
            background: $thunderbird-red;
            border-color: $white;
          }
        }

        @include tablet {
          border-color: $iron-gray;
          color: $white;
          font-size: 1.2em;
          font-weight: 800;
          padding: 10px 20px;
          width: 180px;
        }

        width: 140px;
      }
    }
  }

  li {
    line-height: 18px;

    &.search-li {
      position: relative;
    }

    .icon-button {
      border: 3px solid $white;

      &:hover {
        box-shadow: none;
      }
    }

    .cta {
      padding: 5px 0;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $iron-gray;
    }
  }

  @include tablet {
    background-color: $iron-gray;
    font-family: $primary-font;
    margin-top: 0;

    .flex-links > li {
      flex-basis: auto;
      margin: 0;
      text-align: center;

      // target the logo
      &:first-child {
        display: none;
      }
    }

    a {
      font-weight: 400;

      &:hover {
        color: $thunderbird-red;
      }
    }
  }

  @include above-tablet {
    .flex-links > li {
      // target the logo
      &:first-child {
        margin-right: auto;

        img {
          @include above-tablet {
            height: 53px;
            padding: 8px 0;
          }
        }
      }
    }
  }

  @include desktop {
    .flex-links > li {
      // target the logo
      &:first-child {
        text-align: left;
      }
    }
  }
}
// Bar of 4-8 links, depending on size.

.links-bar {
  background-color: $iron-gray;
  font-family: $primary-font-condensed;

  li {
    float: left; // IE9
    line-height: 14px;
    margin: .5em 8px;

    &:first-child {
      margin-left: 5px;
    }

    &.header-search {
      @include tablet {
        margin: 0;
        order: -1;
      }

      margin: 0 15px 0 35px;
    }
    @include tablet {
      // remove bottom borders from bottom 3 items
      &:nth-last-child(2) {
        border: 0;
      }

      &:nth-last-child(3) {
        border: 0;
      }

      &:first-child {
        margin-top: 40px;
      }
    }
  }

  a {
    color: $charcoal-gray;
    font-family: $primary-font;
    font-size: .9em;
    text-decoration: none;
    text-transform: none;

    &:hover {
      color: $thunder-black;
    }
  }

  .flex-links {
    padding-bottom: 3px;
    padding-top: 3px;
    text-transform: none;
  }

  @include tablet {
    background-color: $iron-gray;
    border-bottom: 0;
    position: relative;

    li {
      margin: 0;
    }
  }
}
// Contains the branding-bar and links-bar.

.site-menu {
  hr {
    display: none;
  }

  @include tablet {
    background: $iron-gray;
    bottom: 130px;
    height: calc(100% - 100px);
    overflow-y: auto;
    padding: 15px 0;
    position: fixed;
    right: -100%;
    top: 78px;
    transition: right .333s;
    width: 100%;
    z-index: 1000;

    &.nav-show {
      right: 0;
    }

    a {
      color: $thunder-black;
    }

    hr {
      border: 0;
      border-top: 3px solid $nobel-gray;
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    li {
      font-size: 16px;
      margin-right: 5px;
      padding: 10px 0;
      text-align: center;
    }

    ul {
      &:first-child {
        > li {

          &:last-child {
            border: 0;
          }
        }
      }
    }
  }

  @include mobile {
    top: 68px;
  }
}
// Search overlay

.search-box {
  display: none;
  position: absolute;
  top: 30px;
  z-index: 100;

  &.-show {
    display: block;
  }

  > .wrapper {
    background-color: $iron-gray;
    padding: 0 20px 5px 10px;
    width: 228px;

    .two-column {
      column-gap: 10px;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin-left: 5px;
    }
  }

  @include tablet {
    position: static;

    &.-show {
      // Counterintuitive, but -show is used only on the desktop,
      //  and this prevents it from being shown when menu is open.
      display: none;
    }

    .search-open &,
    .search-open &.-show {
      display: block;
    }

    > .wrapper {
      background-color: inherit;
      float: none;
      padding: 0;
    }

    form {
      margin: 0;
    }

    ul {
      // Should match the margin & padding of .flex-links
      margin: 0 10px;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    input {
      max-width: 70%;
    }
  }
}
// Smaller, mobile-only components and modifiers
@include tablet {
  body {
    &.-noscroll {
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;
    }
  }
}
// Navigation components, default style

.menu-shade {
  @include tablet {
    &.-show {
      background: $sixty-percent-black;
      bottom: 0;
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 47px;
      z-index: 950;
    }
  }
  display: none;
}

.search-link {
  &.-show {
    background-color: $silver-gray;
    margin: 0;
    padding: .5em 4px;
  }
}

.header-search {
  @include above-tablet {
    margin-left: 35px;
  }
  position: relative;

  .search-form {
    margin: 0;
  }

  .search-item {
    border-radius: 30px;
  }

  input {
    &.search-item {
      @include tablet {
        font-size: 1.2em;
        height: 35px;
        left: 25px;
        position: relative;
        width: 160px;
      }

      border: 1px solid $silver-gray;
      font-size: .8em;
      height: 15px;
      margin-bottom: 0;
      padding: 7px 40px 5px 15px;
      width: 200px;
    }
  }

  button {
    &.search-item {
      @include tablet {
        left: -25px;
        position: relative;
        width: 40px;
      }

      background: none;
      border: 0;
      fill: $thunderbird-red;
      left: 225px;
      padding: 7px;
      position: absolute;
      right: 0;
      width: 30px;

      &:hover {
        fill: darken($thunderbird-red, $default-darken);
      }
    }
  }
}
// Navigation components, mobile style
@include tablet {
  .unitheading {
    display: none;
  }

  .nav-show {
    &.search-open {
      .full-menu {
        display: none;
      }
    }
  }

  .branding-bar,
  .links-bar {
    .flex-links {
      flex-direction: column;
      padding: 0;
      // You would think that we also want align-items: flex-start,  but the
      // inherited value of center works better.

      .btn {
        margin-top: 3px;
      }
    }
  }

  .header-search {
    height: 20px;
    top: 10px;
  }
}
