a {
  color: $alternate-red;
  font-weight: 500;
  text-decoration: underline;

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $dove-gray;
  }
}
