html {
    background-color: $color-cream;
    margin: 0;
    padding: 0;
}
body {
    font-family: $primary-font;
    font-size: $primary-font-size;
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}