main {
  .preview {
    align-items: center;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: .55fr .45fr;
    text-align: center;

    .image {
      margin: 1.5em 0 0 1.5em;
      position: relative;
      transition: margin .3s;
      z-index: 5;

      &.yellow:before {
        background-color: $color-yellow;
      }

      &.green:before {
        background-color: $color-green;
      }

      &.red:before {
        background-color: $color-red;
      }

      &.blue:before {
        background-color: $color-blue;
      }

      &:before {
        content: '';
        height: 100%;
        left: -1.5em;
        position: absolute;
        top: -1.5em;
        width: 100%;
        z-index: -1;
      }

      img {
        transform: scale(1);
        transition: transform .3s;
      }
    }

    .content {
      align-content: center;
      display: grid;
      height: 100%;
      position: relative;

      h2 {
        border-bottom-width: 3px;
        border-bottom-style: solid;
        margin: 0 auto;
        padding-bottom: .5em;
        transform: scale(1);
        transition: transform .3s;
        width: fit-content;

        &.blue {
          border-bottom-color: $color-blue;
        }
        &.red {
          border-bottom-color: $color-red;
        }
        &.yellow {
          border-bottom-color: $color-yellow;
        }
        &.green {
          border-bottom-color: $color-green;
        }
      }

      p {
        font-size: 1.5em;
        margin-top: 2em;
      }

      .pattern {
        bottom: 5px;
        left: 0;
        position: absolute;
        transition: left .3s;
        width: 100vw;
      }
    }

    &:hover {
      .image img {
        transform: scale(1.025);
      }
      h2 {
        transform: scale(1.025);
      }
      .pattern {
        left: -5vw;
      }
    }
  }

  a {
    color: unset;
    text-decoration: none;
  }

  .pattern {
    height: 40px;
    width: 100%;

    &.yellow {
      background-image: url("/images/pattern-yellow.png");
    }
  }
}

img {
  width: 100%;
}