.carousel {
  line-height: 1;
  margin-bottom: 30px;
  position: relative;

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .item {
    left: 0;
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: 100%;
    z-index: 1;

    &.active {
      opacity: 1;
      z-index: 2;
    }
  }

  :hover {
    .slide-indicator,
    .carousel-control {
      opacity: .9;
    }
  }
}

.carousel-inner {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.slide-navigation {
  background-color: $half-white-bg;
  border-radius: 15px;
  display: inline-flex;
  font-size: 15px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 3;
}

.carousel-control,
.slide-indicator {
  color: $thunder-black;
  opacity: .5;
}

.carousel-caption {
  background: $three-q-black-bg;
  bottom: 0;
  left: 0;
  padding: 10px;
  right: 0;

  h4,
  p {
    color: $white;
    line-height: 16px;
    padding-bottom: 0;
  }

  p {
    font-size: 11px;
    margin: 0;
  }

  @include media-breakpoint-down(sm) {
    padding: 0;

    h4 {
      padding: 10px;
    }

    p {
      display: none;
    }
  }
}

//
// SLICK SLIDER
//
.slick-slider {
  -moz-user-select: none;
  -ms-touch-action: pan-y;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  display: block;
  margin-bottom: 30px;
  position: relative;
  touch-action: pan-y;
  user-select: none;

  .slick-track,
  .slick-list {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slick-list {
  display: block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-track {
  display: block;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

.slick-loading {

  .slick-list {
    background: $white;
  }

  .slick-slide {
    visibility: hidden;
  }

  .slick-track {
    visibility: hidden;
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;

  img {
    display: block;
    width: 100%;
  }

  &.slick-loading {
    img {
      display: none;
    }
  }

  &.dragging {
    img {
      pointer-events: none;
    }
  }
}

.slick-initialized {

  .slick-slide {
    display: block;
  }
}

.slick-vertical {

  .slick-slide {
    border: 1px solid transparent;
    display: block;
    height: auto;
  }
}

.slick-arrow {

  &.slick-hidden {
    display: none;
  }
}

.slick-arrow,
.slick-dots {
  font-family: 'Font Awesome 5 Duotone';
  font-style: normal;
  font-weight: normal;
}

// Arrows
.slick-prev,
.slick-next {
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  background: transparent;
  border: 0;
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  height: 20px;
  line-height: 0;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  transform: translate(0, -50%);
  width: 20px;

  &::after {
    color: $dove-gray;
    right: 1em;
    top: 15px;
  }

  &::before {
    color: $white;
    top: 15px;
  }

  &::after,
  &::before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    position: relative;
  }

  &:hover,
  &:focus {
    background: transparent;
    color: transparent;
    outline: none;

    &::before {
      opacity: 1;
    }
  }

  &.slick-disabled {
    &::before {
      opacity: .25;
    }
  }
}

.slick-prev {
  left: 5px;
  z-index: 100;

  &::after {
    content: '\10f0a8';
  }

  &::before {
    content: '\f0a8';
  }
}

.slick-next {
  right: 15px;
  z-index: 100;

  &::after {
    content: '\10f0a9';
  }

  &::before {
    content: '\f0a9';
  }
}

// Dots
.slick-dots {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;

  li {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    margin: 0 15px;
    padding: 0;
    position: relative;
    width: 20px;

    button {
      background: transparent;
      border: 0;
      color: transparent;
      cursor: pointer;
      display: block;
      font-size: 0;
      height: 20px;
      line-height: 0;
      outline: 0;
      padding: 5px;
      width: 20px;

      &:hover,
      &:focus {
        outline: none;

        // EXCEPTION - Slick Slider is a third party tool, brought it into our stuff to make overrides more manageable.
        // It's really not worth the headache to try to refactor someone else's sheets just to get this hover working without throwing a lint error
        &::before { // sass-lint:disable-line nesting-depth
          opacity: 1;
        }
      }

      &::before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        color: $white;
        content: '•';
        font-size: 40px;
        height: 20px;
        left: 0;
        line-height: 20px;
        opacity: .45;
        position: absolute;
        text-align: center;
        text-shadow:
        -1px -1px 0 $thunder-black,
        1px -1px 0 $thunder-black,
        -1px 1px 0 $thunder-black,
        1px 1px 0 $thunder-black;
        top: 0;
        width: 20px;
      }
    }

    &.slick-active {
      button {
        &::before {
          color: $thunder-black;
          opacity: .75;
        }
      }
    }
  }
}
