// Card Navigations

.card {
  background-color: $white;
  border: 1px solid $silver-gray;
  padding: 0 0 1.5em;
  position: unset;

  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 1.5em 10px 10px;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1em;
  }

  p {
    margin: 1.5em;

    &:first-child {
      margin-top: 1.5em;
    }
  }

  .card-img-container {
    overflow: hidden;

    img {
      background-color: $white;
      transform: scale(1) translateZ(1px);
      transition: transform 260ms cubic-bezier(.455, .03, .515, .955);
      transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    }
  }

  &:hover {
    .card-img-container {
      img {
        transform: scale(1.025) translateZ(1px);
      }
    }
  }

  &.highlight-card {
    @include tablet {
      width: 90%;
    }

    margin: 0 auto;
    max-width: 220px;
    padding: 25px 5px;
    width: 100%;

    h5 {
      padding-bottom: 0;
    }

    p {
      margin: 5px 1em;

      &:first-child {
        margin: 1.5em;
      }
    }

    .fal {
      color: $thunderbird-red;
    }

    .fa-brands {
      color: $thunderbird-red;
    }

    .majors-heading-gray {
      text-transform: uppercase;
    }

    &.highlight-card-animate {
      // overflow: visible;
      transform: scale(1);
      transition-duration: .15s;
      transition-property: background-color, box-shadow, transform;
      transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    }
  }

  &.highlight-card-alt {
    background: unset;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    padding: 10px 15px;

    h3,
    h4 {
      margin: 0 0 .5em;
      padding: 0;
    }

    p {
      margin: 0;
    }
  }
}

a {
  &.cardlink {
    color: $font-color;
    text-decoration: none;
    width: 100%;
  }
}

.cardlink {
  display: grid;

  &.well,
  &.whitewell {
    display: block;
  }

  img {
    border-radius: $primary-border-radius $primary-border-radius 0 0;
  }

  .card,
  &.card {
    align-items: stretch;
    border: 0;
    border-radius: $primary-border-radius;
    box-shadow: $default-shadow;

    &:hover {
      background-color: $alabaster-gray;
      box-shadow: $hover-shadow;
    }
  }

  &:hover,
  &:focus,
  &:active {
    .highlight-card-animate {
      transform: scale(1.05);
      z-index: 100;
    }
  }
}
