//
// Gray question links on the homepage.
// Desktop layout uses Bootstrap columns.
// Tablet layout is side-by side flexbox.
// Mobile layout is left-right staggered flexbox.
//

.home-icons {
  text-align: center;
  text-transform: uppercase;

  p {
    font-family: $primary-font-condensed;
    font-size: 1.5em;
    font-weight: 500;
  }

  a {
    color: $dove-gray;
    display: block;
    text-decoration: none;

    &:hover {
      color: $dove-gray;
    }
  }

  @include tablet {
    .span2 {
      a {
        align-items: center;
        display: flex;
        margin: -6% 12%;
      }

      img {
        display: inline-block;
        flex-basis: 25%;
        max-width: 25%;
      }

      &:nth-child(even) {
        a {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
