.news-showcase {
  @include above-tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content;
  }

  display: grid;
  grid-gap: 1em;
}

.news-container {
  margin-bottom: 10px;
}

.news-img-wrapper,
.everywhere-img-wrapper {
  border-radius: $primary-border-radius $primary-border-radius 0 0;
  overflow: hidden;
  position: relative;
}

.featured-news-item {

  img {
    width: 100%;
  }

  .icon-button {
    bottom: 70px;
    display: none;
    position: absolute;
    right: 25px;
    z-index: 10;
  }
}

.news-item-minor {

  &:last-child {
    padding-right: 0;
  }

}

.news-blog-links {
  padding: 5px 0 0 5px;
}

.news-item {
  border-radius: $primary-border-radius;
  box-shadow: $default-shadow;
  position: relative;
  text-decoration: none;
  transition: box-shadow .3s;

  a {
    text-decoration: none;
  }

  img {
    aspect-ratio: 570 / 320;
    max-height: 240px;
    object-fit: contain;
    position: relative;
    z-index: 10;

    &.bg-img {
      filter: blur(10px);
      object-fit: cover;
      position: absolute;
      z-index: 0;
    }
  }

  &:hover {
    box-shadow: $hover-shadow;

    .news-item-box {
      background-color: $alabaster-gray;
    }
  }

  .date-label {
    margin: 0;
    position: absolute;
    top: 2px;
    z-index: 5;
  }

}

.news-headline {

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: $font-color;
  display: -webkit-box;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 1.2em;
  margin: 0;
  overflow: hidden;
  text-rendering: optimizelegibility;
  text-transform: none;
}

.news-item-box {
  background-color: $white;
  border-radius: 0 0 $primary-border-radius $primary-border-radius;
  height: 45px;
  padding: 20px;
}

.news-item-desc {
  display: none;
}

.news-link {
  font-weight: 600;
  text-decoration: none;
}

@include tablet {

  .news-item {
    padding: 0;

    &.featured-news-item {

      .date-label {
        .label {
          background-color: $thunderbird-red;
          border-color: $thunderbird-red;
          color: $white;
        }
      }

      .news-item-box {
        padding: 20px;
      }
    }

    &:first-child,
    &:hover {
      .label-brand {
        background-color: $thunderbird-red;
        border: 0;
        color: $white;
      }
    }
  }

  .news-item-box {
    border-top: 1px solid $silver-gray;
    height: auto;
    margin-bottom: 5px;
    padding: 45px 20px 20px;
  }

  .news-item-minor {

    .news-item-box {
      border-radius: 20px;
      padding: 25px 20px 20px;
    }

    img {
      display: none;
    }
  }
}
