$color-error: #981b21;

$color-alert: #e1f8fe;
$color-alert-dark: darken($color-alert, 66%);
$color-alert-success-background: #e2f1dc;
$color-success: #0d8d57;
$color-success-dark: darken($color-success, 10%);
$color-success-light: #f4f9ed;


$color-alert-info: #dfedc9;
$color-alert-info-dark: darken($color-alert-info, 66%);
$color-info: #0076bb;
$color-info-dark: darken($color-info, 10%);
$color-info-light: #edf8fc;

$color-alert-warning: #fcdcda;
$color-alert-warning-dark: darken($color-alert-warning, 66%);
$color-warning: $alternate-red;
$color-warning-dark: darken($color-warning, 10%);
$color-warning-light: #fef4f2;


$color-alert-yellow: #fff3cd;
$color-alert-yellow-dark: darken($color-alert-yellow, 66%);
