// WORK ON THIS! We should be removing these from use

// Responsive breakpoints
// DEPRECATED: Use $grid-breakpoints instead.
$max-view-width: 1300px;
$tiny-max-width: 360px;
$mobile-max-width: 510px;
$tablet-max-width: 767px;
$desktop-min-width: 980px; // Breakpoint names and min-width values.
