$primary-font: 'Barlow', sans-serif;
$logo-font: 'Fira Sans', sans-serif;
$primary-font-condensed: 'Barlow Condensed', sans-serif;
$secondary-font: 'Merriweather', serif;
$primary-font-size: 18px;
$primary-line-height: 23px;
