@import url('https://fonts.googleapis.com/css2?family=Lusitana&family=Open+Sans&display=swap');
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Lusitana', serif;
$primary-font-size: 18px;
$primary-line-height: 24px;
